.banner__bg {
  padding: 10px;
}

.banner__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(127, 101, 160), rgba(0, 0, 0, 0.05));
  margin: auto;
  height: 280px;
  text-align: center;
  color: #fff;
  font-size: 2em;
}
