.formulario__titulo {
  text-align: center;
  margin: 30px 0;
  font-size: 2em;
}

.formulario__campos {
  display: flex;
  flex-direction: column;
  padding: 0 400px;
}

.formulario__campo {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 15px 0;
}

.formulario__input {
  border-radius: 20px;
  border: 2px solid var(--roxo);
  width: 500px;
  padding: 3px;
}

.formulario__select {
  width: 130px;
  padding: 3px;
}

.formulario__inputCpf {
  border-radius: 20px;
  border: 2px solid var(--roxo);
  width: 250px;
  padding: 3px;
}

.formulario__inputData {
  border-radius: 20px;
  border: 2px solid var(--roxo);
  width: 250px;
  padding: 3px;
}

.formulario__termo {
  display: flex;
  border: none;
  margin: 15px 0;
}

.formulario__termo input {
  margin: 0 10px;
}

.formulario__botao {
  margin: 15px 0;
  text-align: center;
}

.formulario__botao input {
  width: 250px;
  color: var(--branco);
  background-color: var(--roxo);
  font-size: 1.4em;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--branco);
}

.formulario__botao input:hover {
  width: 250px;
  color: var(--roxo);
  background-color: var(--branco);
  font-size: 1.4em;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--roxo);
  transition: 700ms;
}
