@import url(./css/cabecalho.css);
@import url(./css/banner.css);
@import url(./css/dot.css);
@import url(./css/formulario.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --cinza: #c4c4c4;
  --roxo: #7d63a4;
  --branco: #ffffff;
  --verde: #46bb71;
}
